@use '@/styles/colors';

.Input {
  padding: 0.5rem;
  height: 2rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid colors.$gray;

  &[type="checkbox"] {
    width: fit-content;
  }

  &[type="password"] {
    font-size: 0.6rem;
  }
}
